{{- $shouldCreateSecret := include "camundaPlatform.shouldCreateSecret" (dict "newSecretConfig" .Values.identity.firstUser.secret "oldPassword" .Values.identity.firstUser.password "oldExistingSecret" .Values.identity.firstUser.existingSecret "context" .) }}
{{- if and .Values.identity.firstUser.enabled (eq $shouldCreateSecret "true") }}
{{- $secretName := printf "%s-identity-firstuser" (include "camundaPlatform.fullname" .) }}
{{- $secretKey := include "camundaPlatform.getSecretKey" (dict "newSecretConfig" .Values.identity.firstUser.secret "oldExistingSecretKey" .Values.identity.firstUser.existingSecretKey "defaultKey" "identity-firstuser-password" "context" .) }}
{{- $secretValue := include "camundaPlatform.getSecretValue" (dict "newSecretConfig" .Values.identity.firstUser.secret "oldPassword" .Values.identity.firstUser.password "oldExistingSecret" .Values.identity.firstUser.existingSecret "oldExistingSecretKey" .Values.identity.firstUser.existingSecretKey "context" .) }}
{{- $isUsingPlainPassword := include "camundaPlatform.isUsingPlainPassword" (dict "newSecretConfig" .Values.identity.firstUser.secret "oldPassword" .Values.identity.firstUser.password "context" .) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  labels:
    {{- include "identity.labels" . | nindent 4 }}
  annotations:
    {{- if eq $isUsingPlainPassword "true" }}
    io.camunda.zeebe/warning: "Using plain-text password is not recommended for production. Consider using existingSecret instead."
    {{- end }}
    {{- if .Values.global.annotations }}
    {{- toYaml .Values.global.annotations | nindent 4 }}
    {{- end }}
type: Opaque
data:
  {{ $secretKey }}: {{ $secretValue | b64enc }}
{{- end }}