{{- $shouldCreateSecret := include "camundaPlatform.shouldCreateSecret" (dict "newSecretConfig" .Values.global.license.secret "oldPassword" .Values.global.license.key "oldExistingSecret" .Values.global.license.existingSecret "context" .) }}
{{- if eq $shouldCreateSecret "true" }}
{{- $secretKey := include "camundaPlatform.getSecretKey" (dict "newSecretConfig" .Values.global.license.secret "oldExistingSecretKey" .Values.global.license.existingSecretKey "defaultKey" "CAMUNDA_LICENSE_KEY" "context" .) }}
{{- $secretValue := include "camundaPlatform.getSecretValue" (dict "newSecretConfig" .Values.global.license.secret "oldPassword" .Values.global.license.key "oldExistingSecret" .Values.global.license.existingSecret "oldExistingSecretKey" .Values.global.license.existingSecretKey "context" .) }}
{{- $isUsingPlainPassword := include "camundaPlatform.isUsingPlainPassword" (dict "newSecretConfig" .Values.global.license.secret "oldPassword" .Values.global.license.key "context" .) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "camundaPlatform.fullname" . }}-license
  labels:
    {{- include "camundaPlatform.labels" . | nindent 4 }}
  annotations:
    {{- if eq $isUsingPlainPassword "true" }}
    io.camunda.zeebe/warning: "Using plain-text license key is not recommended for production. Consider using existingSecret instead."
    {{- end }}
    {{- toYaml .Values.global.annotations | nindent 4 }}
type: Opaque
data:
  {{ $secretKey }}: {{ $secretValue | b64enc }}
{{- end }}
